<li id="<%= attribute_id %>">
  <%= form.label attribute, label_text %>
  <% if values.any? %>
    <%= form.select related_fk, values, options, html_options.merge(:class => "chzn-select", :style => "width: 350px;") %>
  <% else %>
    <%= Typus::I18n.t("No %{resources} found.", :resources => related.model_name.human.downcase.pluralize) %>
  <% end %>
</li>
