<%

  attachment = attribute.split('_file_name').first

  unless @item.send(attribute).blank?
    item = @item.send(attachment)
    preview = if @item.send("#{attachment}_content_type") =~ /^image\/.+/ && item.styles.member?(:typus_thumbnail)
                image_tag item.url(:typus_thumbnail)
              else
                link_to @item.send(attribute), item.url
              end
  end

%>

<li><label for="item_<%= attribute %>"><%= _(attachment.humanize) %></label>
<%= file_field :item, attachment, :disabled => attribute_disabled?(attribute) %>
<%= preview %>
</li>