<%

  attachment = attribute.split('_file_name').first
  options = { :action => 'detach', :id => @item, :attachment => attachment }
  remove_file = <<-HTML
<small>#{link_to _("Remove file"), options, :confirm => _("Are you sure?") }</small>
                HTML
  remove_file = nil if @item.send(attribute).blank?

%>

<li>
  <%= f.label attribute, "#{_(attachment.humanize)} #{remove_file}" %>
  <%= f.file_field attachment, :disabled => attribute_disabled?(attribute) %>
  <%= @item.typus_preview(attribute) unless @item.send(attribute).blank? %>
</li>