<li id="<%= attribute_id %>">
  <%= form.label attribute, label_text %>
  <ul>
    <% related_items.each do |item| %>
      <li>
        <%= check_box_tag related_ids, item.id, @item.send(attribute).include?(item) %>
        <%= item.to_label %>
      </li>
    <% end %>
  </ul>
</li>
