<%
  custom = { :width => 700, :height => 300, :toolbar => 'Easy' }
  options = options.merge!(custom)
%>

<li>
  <%= form.label attribute, label_text %>
  <%= form.cktext_area attribute, options %>
</li>