<% options = @resource[:class].send(attribute).map { |o| (o.kind_of?(Array) ? [ o.first, o.last ] : o) } %>

<li>
  <%= form.label attribute %>
  <%= form.select attribute, options, { :include_blank => true } %>
</li>