<%
  values = if @resource.const_defined?(filter.to_s.upcase)
             @resource::const_get(filter.to_s.upcase).to_a
           else
             @resource.send(filter.to_s).to_a
           end
%>

<li id="<%= attribute %>">
  <%= form.label attribute, label_text %>
  <%= form.select attribute, values, options.merge!(:include_blank => false) %>
</li>
