<%

  options = []
  @resource[:class].send(attribute).each do |option|
    case option.kind_of?(Array)
    when true
      options << [ option.first, option.last ]
    else
      options << option
    end
  end

%>

<li>
  <%= f.label attribute %>
  <%= f.select attribute, options, { :include_blank => true } %>
</li>