<%

  options = { :disabled => attribute_disabled?(attribute) }

  # Read only fields.
  if @resource[:class].typus_field_options_for(:read_only).to_s.include?(attribute)
    options[:readonly] = 'readonly'
  end

  # Auto generated fields.
  if @resource[:class].typus_field_options_for(:auto_generated).include?(attribute)
    options[:auto_generated] = true
  end

  comment = "<small>#{value} field</small>".humanize if [ :readonly, :auto_generated ].include?(options.keys)

%>

<li>
  <%= form.label attribute, "#{_(attribute.humanize)} #{comment}" %>
  <%= form.text_field attribute, options %>
</li>