<%
  custom = { :rows => @resource.typus_options_for(:form_rows), :class => "span12" }
  options = options.merge!(custom)
%>

<div class="clearfix" id="<%= attribute_id %>">
  <%= form.label attribute, label_text.html_safe %>
  <%= form.text_area attribute, options %>
</li>
