<li>
  <%= form.label attribute %>
  <%= form.text_area attribute, :class => 'text', 
                                :rows => @resource[:class].typus_options_for(:form_rows), 
                                :disabled => attribute_disabled?(attribute) %>
</li>