<%
  custom = { :rows => @resource[:class].typus_options_for(:form_rows) }
  options = options.merge!(custom)
%>

<li>
  <%= form.label @resource[:class].human_attribute_name(attribute) %>
  <%= form.text_area attribute, options %>
</li>