<% form_tag :action => 'login', :back_to => params[:back_to] do %>
  <ul>
  <li><label for="email">Email</label>
  <%= text_field :user, :email, :size => 20, :class => 'text' %></li>
  <li><label for="password">Password</label>
  <%= password_field :user, :password, :size => 20, :class => 'text' %></li>
  <li><%= submit_tag "Sign in", :class => 'button' %> <%= link_to "Recover password", typus_recover_password_url if Typus::Configuration.options[:recover_password] %></li>
  </ul>
<% end %>