<% form_tag :action => 'recover_password' do %>
  <ul>
  <li><label for="email">Email</label>
  <%= text_field :user, :email, :size => "20", :class => 'text' %></li>
  <li><%= submit_tag "Recover password", :class => 'button' %> <%= link_to "I remember my password", typus_login_url %></li>
  </ul>
<% end %>