<ul>

  <% dashboard = 'active' if params[:controller].include?('dashboard') %>

  <li><%= link_to Typus::I18n.t("Dashboard"), admin_dashboard_path, :class => dashboard %></li>

  <% admin_user.applications.each do |application| %>

    <%
      apps = admin_user.application(application)
      klass = (@resource && apps.include?(@resource.model_name)) ? 'active' : nil
    %>

    <li><%= link_to Typus::I18n.t(application), { :controller => "/admin/#{apps.first.tableize}" }, { :class => klass } %></li>

  <% end %>

</ul>
