<%
  filter_params = params.dup
  rejections = %w(controller action locale utf8)
  filter_params.delete_if { |k, v| rejections.include?(k) }
%>

<%= form_tag nil, :method => :get do %>

  <div id="filters">
    <ul>
      <% filters.each do |filter| %>
        <li><%= select_tag filter[:filter], options_for_select(filter[:items], params[filter[:filter]]) %></li>
      <% end %>

      <% filter_params.each do |key, value| %>
        <%= hidden_field_tag key, value %>
      <% end %>
      <li><%= submit_tag Typus::I18n.t("Filter"), :name => nil %></li>
    </ul>
  </div>

<% end %>
