.bundle/
log/*.log
pkg/

test/dummy/config/email.yml
test/dummy/config/mongoid.yml
test/dummy/db/*.sqlite3
test/dummy/log/*.log
test/dummy/public/system/
test/dummy/tmp/

vendor/bundle
vendor/gems

# This is a RubyGem so there's no need to keep the `Gemfile.lock`.
Gemfile.lock
