.bundle/
log/*.log
pkg/

test/dummy/config/email.yml
test/dummy/db/*.sqlite3
test/dummy/log/*.log
test/dummy/public/system/
test/dummy/tmp/
test/dummy/vendor/bundle/

vendor/bundle
vendor/gems
vendor/ruby
