<!-- Sidebar -->

<% content_for :sidebar do %>
  <%= render "dashboard/sidebar" %>
<% end %>

<!-- Content -->

<h2><%= params[:controller].split('/').last.titleize.capitalize %></h2>

<p>Find me in app/views/<%= params[:controller] %>/index.html.erb</p>
