<% if @item.errors.any? %>
  <div id="errorExplanation">
    <h3><%= Typus::I18n.t("%{errors} errors prohibited this page from being saved:", :errors => @item.errors.count) %></h3>
    <ul>
    <% @item.errors.full_messages.each do |full_message| %>
      <li><%= full_message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
