<div id="pagination">

  <div class="left">

    <% previous_text = "&larr; " + _t("Previous") %>

    <% if @items.prev? %>
      <%= link_to raw(previous_text), params.merge(:page => @items.prev.number, :anchor => @options[:anchor]) %>
    <% else %>
      <span class="disabled"><%= raw(previous_text) %></span>
    <% end %>

  </div>

  <div class="right">

    <% next_text = _t("Next") + " &rarr;" %>

    <% if @items.next? %>
      <%= link_to raw(next_text), params.merge(:page => @items.next.number, :anchor => @options[:anchor]) %>
    <% else %>
      <span class="disabled"><%= raw(next_text) %></span>
    <% end %>

  </div>

</div>
