<h2>Welcome to Typus!</h2>

<p>Documentation is available <a href="http://intraducibles.com/projects/typus">here</a>.</p>

<p>If you need help don't hesitate in joining the <a href="http://groups.google.com/group/typus" rel="external">Typus</a> mailing list.</p>

<p>Replace this message adding a <code>_sidebar.html.erb</code> file on the <code>app/views/admin/dashboard</code> folder.</p>

<p>Have a nice day!</p>