<h2>Welcome to Typus!</h2>

<p>Useful links:</p>

<ul>
  <li><%= link_to _("Mailing list"), "http://groups.google.com/group/typus" %></li>
  <li><%= link_to _("Submit a bug report"), "http://github.com/fesplugas/typus/issues" %></li>
  <li><%= link_to _("Documentation"), admin_docs_path %></li>
  <li><%= link_to _("License"), admin_doc_path("mit_license") %></li>
</ul>

<p>Want to customize this sidebar?<br />
<code>app/views/admin/dashboard/_sidebar.html.erb</code></p>
