<%
  page_title = Typus::I18n.t("Dashboard")
  admin_title(page_title)
%>

<div class="sidebar">
  <%= render 'admin/dashboard/sidebar' %>
</div>

<div class="content">
  <%= render 'admin/dashboard/widgets/applications' %>
</div>
