<% content_for :javascripts do %>
  <%= javascript_include_tag 'ckeditor/ckeditor' %>
<% end %>

<%
  custom = { :rows => @resource.typus_options_for(:form_rows), :class => "ckeditor" }
  options = options.merge!(custom)
%>

<li id="<%= attribute %>">
  <%= form.label attribute, label_text %>
  <%= form.text_area attribute, options %>
</li>
