<!--

  Dear developer,

  **Typus Admin** the "Super easy admin interface for your Rails site." 
  is licensed under the MIT License. You can do whatever you want with 
  this software: modify, resell ... but it will be nice that you keep 
  the link to our website so everyone know who has developed it.

  All we ask you is to not remove the link to our site.

  Thanks in advance,

  Francesc Esplugas at typus-admin.com

-->

<p>I wish I was powered by <a href="http://typus-admin.com/" title="Typus Admin" rel="external">Typus Admin</a></p>