<%= render :partial => "admin/dashboard/sidebar" %>

<% resources.each do |key, value| %>

  <% resource = "/admin/#{key.constantize.to_resource}" %>

  <ul>
    <li class="header"><%= link_to_unless_current _(key.constantize.model_name.human.pluralize), :controller => resource, :action => "index" %></li>
    <% if @resource.name.eql?(key) %>
      <ul>
        <% value.each do |v| %>
          <li><%= v %></li>
        <% end %>
      </ul>
    <% end %>
  </ul>

<% end %>
