<% resources.each do |key, value| %>

  <% resource = "/admin/#{key.constantize.to_resource}" %>

  <h3>
    <%= link_to _(key.constantize.model_name.human.pluralize), 
                :controller => resource, 
                :action => "index" %></h3>

  <ul>
    <% if @resource.name.eql?(key) %>
      <ul>
        <% value.each do |v| %>
          <li><%= v %></li>
        <% end %>
      </ul>
    <% end %>
  </ul>

<% end %>
