<!DOCTYPE html>

<html lang="<%= I18n.locale %>">

<head>
  <%= render 'admin/shared/head' %>
</head>

<body>

  <div id="content_wrapper" class="headless">
    <%= yield :layout %>
  </div>

</body>

</html>
