
#content_wrapper ul.predefined_filters {
  border-bottom: 1px solid #D3D3D3;
  margin: -0.5em 0 0 0;
  padding: 1em 0;
}

#content_wrapper ul.predefined_filters li {
  display: inline;
  margin: 0 0.5em 0 0;
}
