/*
*= require docs/assets/css/bootstrap
*/

body.base {
  padding-top: 60px;
}

label {
  font-weight: bold;
}

.btn-group {
  margin-top: 10px;
}

.modal {
  width: 490px;
  margin: -250px 0 0 -220px;
}
