fieldset { margin: 0; padding: 0; }
fieldset ol { margin: 0!important; }
fieldset ol li { list-style: none!important; margin: 1em 0!important; }
fieldset small { font-size: 0.9em; font-weight: normal; margin: 0 0 0 0.25em; }
fieldset small a { text-decoration: none; }

fieldset.inputs { }

  fieldset.inputs input[type='text'],
  fieldset.inputs input[type='password'] {
    border: 1px solid #999;
    font-size: 20px;
    padding: 5px;
    width: 685px;
  }

  fieldset.inputs input[type='text']:focus,
  fieldset.inputs input[type='password']:focus {
    /* background: #FFFCE1; */
  }

  fieldset.inputs textarea { font-size: 1.2em; padding: 3px; width: 691px; }

  fieldset.inputs select { border: 1px solid #999; font-size: 1.20em; }

  fieldset.inputs textarea:focus { background: #FFFCE1; }
  fieldset.inputs label.inline_label { display: inline; }

fieldset.buttons { }

  fieldset.buttons ol li {
    display: inline;
  }
