fieldset {
  margin: 0;
  padding: 0;
}

fieldset ol {
  margin: 0!important;
}

fieldset ol li {
  list-style: none!important;
  margin: 1em 0!important;
}

fieldset small {
  font-size: 0.9em;
  font-weight: normal;
  margin: 0 0 0 0.25em;
}

fieldset small a {
  text-decoration: none;
}

fieldset.inputs {}

  fieldset.inputs input[type='text'],
  fieldset.inputs input[type='password'] {
    font-size: 1.25em;
    width: 100%;
  }

  fieldset.inputs textarea {
    font-size: 1.25em;
    padding: 3px;
  }

  fieldset.inputs select {
    font-size: 1.25em;
  }

  fieldset.inputs label.inline_label {
    display: inline;
  }

fieldset.buttons {
  margin-top: 1.5em;
}

  fieldset.buttons ol li {
    display: inline;
  }

fieldset ol ul {
  margin: 0!important;
}

  fieldset ol ul label.inline_label {
    display: inline;
    font-weight: normal;
  }
