// body.base { padding-top: 20px; }
// h1 { padding-bottom: 0.5em; }
// .icon-destroy { background-position: -456px 0; }

// form .button_to { display: inline!important; }

form .form-group { margin-left: 0px!important; margin-right: 0px!important; }