<%= form_for @item, :url => options, :html => { :class => "resource", :multipart => true } do |form| %>

  <%= render "admin/helpers/resources/errors" %>

  <fieldset class="inputs">
    <ol>
      <%= build_form(fields, form) %>
    </ol>
  </fieldset>

  <fieldset class="buttons">
    <ol>
      <%
        save_options = { "_addanother" => "Save and add another",
                         "_continue" => "Save and continue editing",
                         "_save" => "Save" }
      %>
      <% save_options.each do |key, value| %>
        <li><%= submit_tag Typus::I18n.t(value), :name => key, :onclick => "setConfirmUnload(false);" %></li>
      <% end %>
    </ol>
  </fieldset>

<% end %>
