<% form_for @item, :url  => options, :html => { :multipart => true } do |f| %>
  <fieldset class="inputs">
    <%= build_form(@fields, f) %>
  </fieldset>
  <fieldset class="buttons">
    <ol>
      <li><%= submit_tag button , :class => 'commit' %></li>
    </ol>
  </fieldset>
<% end %>