# <language> translations for Typus
# - <your_name> <contact_form>

<language>:
  activerecord:
    models:
      admin_user:
    attributes:
      admin_user:
        email:
        first_name:
        last_name:
        password:
        password_confirmation:
        status:
        role:
