<h2>Documents</h2>

<%
  documents = ActiveSupport::OrderedHash.new
  documents[:configuration] = "Configuration"
  documents[:donate] = "Donate"
  documents[:contribute] = "Contribute"
  documents[:tips] = "Tips and tricks"
  documents[:services] = "Services"
  documents[:mit_license] = "License"
%>

<ul>
  <li><%= link_to "Introduction", :controller => "admin/docs" %></li>
  <% documents.each do |key, value| %>
  <li><%= link_to value, :controller => "admin/docs", :action => "show", :id => key %></li>
  <% end %>
</ul>
