<% content_for "modal_for_#{attribute}" do %>

  <% new_page_title = Typus::I18n.t("Add New %{resource}", :resource => related.model_name.human.titleize) %>

  <div id="modal-from-dom-<%= attribute_id %>" class="modal hide fade">

    <div class="modal-header">
      <a class="close" data-dismiss="modal">&times;</a>
      <h3><%= new_page_title %></h3>
    </div>

    <%= form_for attribute,
                 :url => { :controller => "/admin/#{related.to_resource}", :action => :create },
                 :html => { :multipart => true, :class => "form-horizontal", :style => "margin-bottom: 0px;" } do |form| %>

      <div class="modal-body"></div>

      <div class="modal-footer">
        <%= form.submit Typus::I18n.t("Save"),
                        :class => "btn btn-primary",
                        :onclick => "Typus.setConfirmUnload(false);" %>
      </div>

    <% end %>

  </div>

<% end %>
