<% if @item.errors.any? %>
  <div class="alert-message block-message error" data-alert="alert">
    <a class="close" href="#">×</a>
    <p><strong><%= Typus::I18n.t("%{errors} prohibited this page from being saved:", :errors => pluralize(@item.errors.count, "error")) %></strong></p>
    <ul>
    <% @item.errors.full_messages.each do |full_message| %>
      <li><%= full_message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
