<%= form_tag nil, :method => :get, :class => "well form-search" do %>
  <%= search_field_tag "search", nil, :id => "quicksearch", :title => (params[:search] || Typus::I18n.t("Search")) %>
  <button type="submit" class="btn">Search</button>

  <% hidden_filters.each do |key, value| %>
    <%= hidden_field_tag key, value %>
  <% end %>
<% end %>
