<div id="search">

  <%= form_tag nil, :method => :get do %>

    <ul>
      <li><%= search_field_tag "search", nil, :id => "quicksearch", :placeholder => Typus::I18n.t("Search"), :value => params[:search] %></li>
    </ul>

    <% hidden_filters.each do |key, value| %>
      <%= hidden_field_tag key, value %>
    <% end %>

  <% end %>

</div>
