<% resources.each do |resource| %>

  <% html_class = @resource.model_name.eql?(resource.model_name) ? 'active' : 'inactive' %>

  <%= link_to :controller => "/admin/#{resource.to_resource}" do %>
    <h5><%= resource.model_name.human.pluralize %></h5>
  <% end %>

<% end %>
