<div id="sidebar">

  <% resources.each do |resource| %>
    <% html_class = @resource.model_name.eql?(resource.model_name) ? 'active' : 'inactive' %>

    <ul>
      <%= link_to :controller => "/admin/#{resource.to_resource}" do %>
        <li class="header <%= html_class %>">
          <%= resource.model_name.human.pluralize %>
        </li>
      <% end %>
    </ul>

  <% end %>

</div>
