<% resources.each do |key, value| %>

  <% resource = "/admin/#{key.constantize.to_resource}" %>

  <div class="resource">

    <%= link_to content_tag("h2", _(key.pluralize)), :controller => resource, :action => "index" %>

    <ul class="<%= "hidden" unless @resource[:class].name.eql?(key) %>">
      <% value.each do |v| %>
        <li><%= v %></li>
      <% end %>
    </ul>

  </div>

<% end %>
