##
#
# Mongo Console:
#
#     mongo staff.mongohq.com:10051/typus_development -u <user> -p<password>
#
# Mongo URI:
#
#     mongodb://<user>:<password>@staff.mongohq.com:10051/typus_development
#
##

defaults: &defaults
  host: <%= ENV.fetch('MONGOID_HOST', 'staff.mongohq.com') %>
  port: <%= ENV.fetch('MONGOID_PORT', '10051').to_i %>
  username: <%= ENV.fetch('MONGOID_USERNAME', 'typus') %>
  password: <%= ENV.fetch('MONGOID_PASSWORD', '********') %>
  database: <%= ENV.fetch('MONGOID_DATABASE', 'typus_development') %>

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
