<p>
<%= link_to _("Submit a bug report"), "http://github.com/fesplugas/typus/issues" %> &#183; 
<%= mail_to "hello@intraducibles.com", _("Send us feedback") %> &#183;
<%= link_to _("Documentation"), admin_docs_path %> &#183; 
<%= link_to _("License"), admin_doc_path("mit_license") %>
</p>
