<p>
<%= link_to 'Submit a Bug Report', 'http://typus.lighthouseapp.com/projects/16954-typus/tickets/new', :rel => 'external' %> &#183; 
<%= link_to 'Documentation', 'http://intraducibles.com/projects/typus', :rel => 'external' %> &#183; 
<%= mail_to "hello@intraducibles.com", "Send us feedback" %> &#183;
<%= link_to "License", "http://intraducibles.com/projects/typus/mit-license", :rel => 'external' %>
</p>